{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Contact us with your feedback or issues{% endblock %}
{% block meta_description %}Contact our customer service department with any
questions or concerns.{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
            {% call f.form_tag('contact.index') %}
                <h1 class="page-title"><i class="fas fa-headset"></i>&nbsp;Холбогдох</h1>

                {% call f.form_group(form.email, css_class='margin-bottom', placeholder='E-mail хаяг...') %}
                {% endcall %}

                {% call f.form_group(form.message, css_class='margin-bottom',
                                     placeholder='Бодолоо үлдээнэ үү...',
                                     rows='12') %}
                {% endcall %}

                <button type="submit" class="btn btn-primary">E-mail илгээх</button>
            {% endcall %}
        </div>
    </div>
</div>
{% endblock %}
